@use "../abstract/" as *;
@use "../base/" as *;

.aboutBanner {
    &__img{
        img{
            height: 850px;
    }
}
  height: 900px;
  padding: 4rem 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-family: $font-secondary;
    font-size: clamp(3rem, 7vw, 4.5rem);
    margin: 2rem 0;
  }
}
.info__address {
  margin-top: 2rem;
}


.aboutContent {
  &__wrapper {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    padding-top: 15rem;
    padding-bottom: 5rem;
    gap: 5rem;
  }
  .title h2 {
    font-family: $font-secondary;
    text-align: left;
    margin-bottom: 2rem;
  }
  .title p {
    text-align: justify;
    // margin-bottom: 2rem;
  }
}
.aboutContent__right-title h3 {
  font-family: $font-secondary;
  font-size: 35px;
  color: $clr--primary;
}

.recent__items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 5rem;
}
.recent__img {
  width: 120px;
}
.star {
  font-size: 20px;
  margin-top: 0.5rem;
  color: $clr--primary;
  margin-bottom: 0.5rem;
}
.recent__txt {
  h5 {
    letter-spacing: 1rem;
    color: $clr--primary;
  }
  p {
    font-family: $font-secondary;
    margin-top: 0.5rem;
  }
}
