@use "../abstract/" as *;
@use "../base/" as *;

.topcontactBanner {
  height: 900px;
  padding: 4rem 0;
  // color: $clr--light;
  &__wrapper {
    margin: 0 auto;
    

    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &__left {
    .topcontactBanner__img img {
  height: 850px;
  width: 100%;

}

    small {
      text-transform: uppercase;
      color: $clr--primary;
      letter-spacing: 1rem;
    }
    h2 {
      text-align: center;
      font-family: $font-secondary;
      // font-size: clamp(3rem, 7vw, 4.5rem);
      line-height: 4rem;
      margin: 3rem 0;
      
    }
    p {
      margin-bottom: 2rem;
    }
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }
}

.contactBanner {
  padding: 15rem 0;
  position: relative;
  &__title {
    max-width: 50rem;
    margin-bottom: 2rem;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      text-align: center;
    }

    h2 {
      font-family: $font-secondary;
      padding-bottom: 2rem;
    }
  }
  &__wrapper {
    @include gridCustom(1.5fr 1fr, 5rem);
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &__left {
    form {
      display: flex;
      flex-direction: column;

      input {
        margin: 0.5rem 0 2rem;
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        border: 1px solid #000;
      }
      textarea {
        @extend input;
        height: 10rem;
        border: 1px solid #000;
      }
      input::placeholder {
        font-family: $font-primary;
        color: $clr--light;
      }
      input:focus,
      input:enabled {
        color: $clr--light;
      }
      button {
        width: 10rem;
      }
    }
    &--name {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__right {
    display: flex;
    justify-content: center;

    .contact-card {
      background-color: $clr--primary;
      color: #fff;
      padding: 3rem;
      width: 100%;
      max-width: 420px;
    }

    .contact-card h4 {
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }

    .contact-item {
      margin-bottom: 1.8rem;

      span {
        display: block;
        font-size: 0.85rem;
        opacity: 0.8;
        margin-bottom: 0.4rem;
      }

      p {
        display: flex;
        align-items: flex-start;
        gap: 0.8rem;
        margin: 0;
        font-size: 0.95rem;
        line-height: 1.5;
      }

      i {
        margin-top: 0.2rem;
      }
    }
  }
}
