@use "../abstract/" as *;
@use "../base/" as *;

.homeBanner {
  padding: 4rem 0;
  &__wrapper {
    @include gridFixed(2, 4rem);
    align-items: center;

    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &__left {
    small {
      text-transform: uppercase;
      color: $clr--primary;
      letter-spacing: 1rem;
    }
    h2 {
      font-family: $font-secondary;
      // font-size: clamp(3rem, 7vw, 4.5rem);
      line-height: 4rem;
      margin: 2rem 0;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.homeAbout{
  padding: 4rem 0;
  &__wrapper {
    @include gridFixed(2, 3rem);
    align-items: center;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &--a {
    grid-area: a;
  }
  &--b {
    grid-area: b;
  }
  &--c {
    grid-area: c;
  }
  &__left {
    ul {
      display: grid;
      grid-template-areas:
        "a c"
        "b c";
      align-items: center;
      gap: 1rem;
    }
  }
  &__right {
    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.homeClass {
  padding: 4rem 0;
  &__slider {
    display: flex;
    gap: 2rem;
  }
  &__wrapper {

.title {
  display: flex;
  align-items: center;      // centers text and lines vertically
  color: $clr--primary;
  margin-bottom: 3rem;

  &::before,
  &::after {
    content: "";
    flex: 1;             
    height: 1px;         
    background: $clr--primary;
    display: block;
    align-self: center;    
  }

  &::before {
    margin-right: 1rem;    
  }

  &::after {
    margin-left: 1rem;    
  }
    .title h4 {
      color: $clr--primary;
      font-family: $font-secondary;
      text-align: center;
      margin-bottom: 2rem;
    }
}

    .card {
      background-color: transparent;
      text-align: center;
      &__details {
        padding: 1rem 0 0 0;
        small {
          color: $clr--primary;
          padding-bottom: 2rem;
          letter-spacing: 1rem;
        }
        h4 {
          padding-top: 1rem;
          font-family: $font-secondary;
        }
        p {
          text-align: justify;
        }
      }
    }
    .card img {
      height: 30rem;
    }
  }
  .listButton {
    margin-top: 2rem;
    @include centerAll;
  }
}

.recipeCollection {
  // padding: 4rem 0;
  // color: $clr--light;
  .container{
    .title {
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: bold;
    &::after {
      flex: 1;
      content: " ";
      height: 1px;
      background: $clr--primary;
      margin-left: 1rem;
    }
}
  }
  .container h4 {
    padding: 2rem 0 2rem 0;
    font-family: $font-secondary;
    color: $clr--primary;
}

  &__wrapper {
    padding-bottom: 2rem;
    @include gridFixed(2, 4rem);
    align-items: center;

    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
    
  }
  &__left {
    small {
      text-transform: uppercase;
      color: $clr--primary;
      letter-spacing: 1rem;
    }
    h2 {
      font-family: $font-secondary;
      // font-size: clamp(3rem, 7vw, 4.5rem);
      line-height: 4rem;
      margin: 2rem 0;
    }
    p {
      margin-bottom: 2rem;
    }
  }
  &__right {
    small {
      text-transform: uppercase;
      color: $clr--primary;
      letter-spacing: 1rem;
    }
    h2 {
      font-family: $font-secondary;
      // font-size: clamp(3rem, 7vw, 4.5rem);
      line-height: 4rem;
      margin: 2rem 0;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.newsletter {
  padding: 4rem 0;
  background-image:
linear-gradient(rgba(255, 255, 255, 0.5)), url(../../images/bell_pepper.jpeg);
  background-size: cover;
  opacity: 100%;
  padding: 10rem 0;
  @include centerAll;

  .title h2 {
    color: $clr--secondary;
  }

  &__slider {
    display: flex;
    gap: 2rem;
  }
  &__wrapper {
    .title h2 {
      color: #fff;
      font-family: $font-secondary;
    }
    .card {
      background-color: transparent;
      text-align: center;
      &__details {
        padding: 1rem 0 0 0;
        small {
          color: $clr--primary;
          padding-bottom: 2rem;
        }
        h4 {
          padding-top: 1rem;
        }

        p {
          color: #fff;
          padding-bottom: 2rem;
        }
      }
    }
  }
}

  .subscribe {
    display: flex;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
  }

  .subscribe input {
    flex: 1;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
  }

  .subscribe button {
    padding: 0 30px;
    border: none;
    background: $clr--primary;
    font-size: 16px;
    margin: 0 auto;
  }

  .classicCollection {
  padding: 4rem 0;

  .title {
    display: flex;
    align-items: center;
    &::after {
      flex: 1;
      content: " ";
      height: 1px;
      background: $clr--primary;
      margin-left: 1rem;
    }
    margin-bottom: 3rem;
    color: $clr--primary;
    h3 {
      font-family: $font-secondary;
    }
  }
  &__wrapper {
    @include gridFixed(3, 1rem);
    @include mediaQuery(520px){
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }
  .recipeCards {
    display: grid;
    height: 10rem;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    .left {
      img {
        @include imgFit(9rem, 10rem);
      }
    }
    .right {
      small {
        color: $clr--primary;
        font-size: 18px;
        letter-spacing: 10px;
      }
      h4 {
        font-family: $font-secondary;
      }
      ul {
        display: flex;
        li a {
          color: $clr--primary;
        }
      }
    }
  }
}



