@use "../components/" as *;
@use "../abstract/" as *;
@use "../base/" as *;

.tutorialsBanner {
  height: 900px;
  padding: 4rem 0;
  @include mediaQuery(520px) {
    padding-top: 170px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    @include mediaQuery(520px) {
      flex-direction: column;
    }
    h2 {
      font-family: $font-secondary;
      max-width: 40%;
      @include mediaQuery(520px) {
        max-width: 100%;
      }
    }
    p > span {
      font-family: $font-primary;
      font-weight: 700;
    }
    p {
      margin: 0;
      align-self: flex-end;
      @include mediaQuery(520px) {
        margin-top: 0.5rem;
        align-self: flex-start;
      }
    }
  }
  &__details {
    position: relative;
    padding: 2rem 0;
    margin: 4rem 0;
    display: flex;
    @include between;
    @include mediaQuery(520px) {
      margin: 2rem 0;
      padding: 1rem 0;
    }
    p > span {
      font-family: $font-primary;
      font-weight: 700;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $clr--dark;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
  &__wrapper {
    @include gridCustom(2fr 1fr, 1rem);
    @include mediaQuery(520px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__left {
    img {
      height: 100%;
    }
  }
  &__right {
    background-color: $clr--primary;
    .tutorial__details {
      margin: 2rem 0;
      padding: 4rem;
      color: $clr--light;
      font-family: $font-primary;
      h3 {
        margin-bottom: 2rem;
      }
      p {
        font-size: 16px;
        margin-bottom: 1rem;
      }
    }
  }
}
