@use "../abstract/" as *;
@use "../base/" as *;

.header{
    padding: 3rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &__wrapper{
    display: flex;
    justify-content: space-between;
    }
    &__logo{
        a > h3 {
            color: $clr--dark;
        }
        }
    &__nav{
        margin-left: 37rem;
        font-size: 0.75rem;
        ul{
            display: flex;
            gap: 3rem;

            li a{
                color: $clr--dark;
               @include mediaQuery(520px){
                color: $clr--light;
               }
            }
            @include mediaQuery(520px){
            background-color: $clr--dark;
            height: 100vh;
            width: 100%;
            position: fixed;
            right: -100%;
            z-index: 999;
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            text-align: center;
            transition: all 0.5s ease;  
            padding-top: 3rem;              
            }
        }
        @include mediaQuery(520px){
        &.open ul{
        right: 0;
        transition: all 0.5s ease;
        }
        }
    }

}

 .toggle__menu {
    display: none;
    span {
      background-color: $clr--dark;
      color: $clr--dark;
      width: 2.5rem;
      height: 0.1rem;
      border: 2px solid $clr--dark;
      border-radius: 1rem;
    }
  }
    @include mediaQuery(520px) {

    &{
      position: fixed;
      width: 100%;
      &__nav{
      ul {
        background-color: $clr--primary;
        height: 100vh;
        width: 100%;
        position: fixed;
        right: -100%;
        z-index: 999;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s ease-in-out; 
        padding-top: 2rem;
        li a {
          color: $clr--light;
        }
      }
      &.open{
        ul{
          right: 0;
          transition: all 0.5s ease-in-out;
          }
        }
      }
    }

    .toggle__menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &.open span:first-child {
        transform: translate(0, 10px) rotate(225deg);
        transition: 0.5s ease-in-out;
      }
      &.open span:nth-child(2) {
        opacity: 0;
      }
      &.open span:last-child {
        transform: translate(0, -14px) rotate(-225deg);
        transition: 0.5s ease-in-out;
      }
    }
  }


 