@use "../abstract/" as *;

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  text-transform: uppercase;
  &.btn--light {
    background-color: $clr--light;
    color: $clr--dark;
    border: 1px solid $clr--dark;
    &:hover {
      background-color: $clr--dark;
      color: $clr--light;
      border: 1px solid $clr--light;
      transition: 0.5s ease;
    }
  }
  &.btn--dark {
    background-color: $clr--dark;
    color: $clr--light;
    border: 1px solid $clr--light;
    &:hover {
      background-color: $clr--light;
      color: $clr--dark;
      border: 1px solid $clr--dark;
      transition: 0.5s ease;
    }
            }
     &.btn--primary {
    background-color: $clr--primary;
    color: $clr--light;
    border: 1px solid $clr--primary;
    &:hover {
      background-color: $clr--light;
      color: $clr--primary;
      border: 1px solid $clr--primary;
      transition: 0.5s ease;
    }
            }
}

.listButton {
  display: flex;
  align-items: center;
  gap: 3rem;
  @include mediaQuery(520px) {
    flex-direction: column;
    gap: 1rem;
  }
}