@use "../abstract/" as *;

.card{
    width: 100%;

    color: $clr--dark;
    img{
        width: 100%;
    }
    &__details{
        padding: 2rem;
        h4, p{
            margin-bottom: 2rem;
        }
         small {
      text-transform: uppercase;
      color: $clr--primary;
      letter-spacing: 1rem;
       margin-bottom: 2rem;
    }
    }
}

.cardIcon{
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    img{
        width: 7rem;
    }
    &__details{
        h4{
            margin: 1.5rem;
        }
    }
}